<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yooli.demo.dao.TblDubboRegMapper">
    <resultMap id="BaseResultMap" type="com.yooli.demo.domain.TblDubboRegDto">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="env" property="env" jdbcType="VARCHAR"/>
        <result column="ip" property="ip" jdbcType="VARCHAR"/>
        <result column="groupp" property="group" jdbcType="VARCHAR"/>
        <result column="port" property="port" jdbcType="VARCHAR"/>
        <result column="version" property="version" jdbcType="VARCHAR"/>
        <result column="dbname" property="dbname" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, name, env, ip, groupp, port, version, dbname
    </sql>
    <select id="selectByNameAndGroup" resultMap="BaseResultMap" parameterType="hashmap">
        select
        <include refid="Base_Column_List"/>
        from tbl_dubbo_register
        where name = #{name,jdbcType=VARCHAR} AND groupp = #{groupp,jdbcType=VARCHAR}
    </select>

    <select id="getRegisters" parameterType="java.util.HashMap"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tbl_dubbo_register where name = 123456;
    </select>
    <insert id="insertRegister" parameterType="com.yooli.demo.domain.TblDubboRegDto">
        INSERT into tbl_dubbo_register (
        name,env,ip,groupp,port,version,dbname
        ) VALUE (
        #{name,jdbcType=VARCHAR},
        #{env,jdbcType=VARCHAR},
        #{ip,jdbcType=VARCHAR},
        #{groupp,jdbcType=VARCHAR})
    </insert>

</mapper>